<ul>
    
    <li class="card">
        <img 
            href="#" 
            class="featured-image" 
            src='../../assets/kayak.jpg'/>
        <article class="card-body">
            <header>
                    <div class="title">
                        <h3>Kayaking</h3>
                    </div>
                    <p class="meta">
                        <span class="author">Utilidata</span>
                        <span> | </span>
                        <time class="updated" datetime="" itemprop="datePublished">July 27, 2017</time>
                    </p>
            </header>
        </article>
      
    </li>
  <br />
  <br />
    <li class="card">
        <img 
            href="#" 
            class="featured-image" 
            src='../../assets/fishing.jpg'/>
        <article class="card-body">
            <header>
                    <div class="title">
                        <h3>Fish your way</h3>
                    </div>
                    <p class="meta">
                        <span class="author">Utilidata</span>
                        <span> | </span>
                        <time class="updated" datetime="" itemprop="datePublished">July 27, 2017</time>
                    </p>
            </header>
        </article>
      
    </li>

    <br />
  <br />
    <li class="card">
        <img 
            href="#" 
            class="featured-image" 
            src='../../assets/drinks.jpeg'/>
        <article class="card-body">
            <header>
                    <div class="title">
                        <h3>Hang in and have some drinks</h3>
                    </div>
                    <p class="meta">
                        <span class="author">Utilidata</span>
                        <span> | </span>
                        <time class="updated" datetime="" itemprop="datePublished">July 27, 2017</time>
                    </p>
            </header>
        </article>
      
    </li>
<br /><br/>
<div class="container">
    <div class="center">
      <button>Book Now</button>
    </div>
  </div>
    </ul>