<div *ngFor="let activity of activities">
<ul>
       <li class="card">
  <img href="#" class="featured-image" src="{{activity.image}}" />
  <article class="card-body">
    <header>
      <div class="title">
          <br/>
          <br/>
        <h3>{{activity.ActivityName}}</h3>
        <br>
      </div>
      <p class="meta">
        <span class="author">Utilidata</span>
        <span> | </span>
        <time class="updated" datetime="" itemprop="datePublished"
          >July 27, 2017</time
        >
      </p>
    </header>
  </article>
</li>
</ul>
 
</div>
<div class="text">
  <p>Make your goa trip</p>
  <p>
    <span class="word belize">wonderful.</span>
    <span class="word pomegranate">refreshing.</span>
    <span class="word green">memorable.</span>
    <span class="word midnight">cheap.</span>
  </p>
</div>
<br /><br />
<div class="container">
  <div class="center">
    <button type="button" class="btn btn-secondary btn-lg">Book Now</button>
  </div>
</div>
