<head>

</head>
<body>
<ul>
    
    <li class="card">
        <img 
            href="#" 
            class="featured-image" 
            src='../../assets/kayak.jpg'/>
        <article class="card-body">
            <header>
                    <div class="title">
                        <h3>Kayaking</h3>
                    </div>
                    <p class="meta">
                        <span class="author">Utilidata</span>
                        <span> | </span>
                        <time class="updated" datetime="" itemprop="datePublished">July 27, 2017</time>
                    </p>
            </header>
        </article>
      
    </li>
  <br />
    <li class="card">
        <img 
            href="#" 
            class="featured-image" 
            src='../../assets/fishing.jpg'/>
        <article class="card-body">
            <header>
                    <div class="title">
                        <h3>Fish your way</h3>
                    </div>
                    <p class="meta">
                        <span class="author">Utilidata</span>
                        <span> | </span>
                        <time class="updated" datetime="" itemprop="datePublished">July 27, 2017</time>
                    </p>
            </header>
        </article>
      
    </li>

    <br />
    <li class="card">
        <img 
            href="#" 
            class="featured-image" 
            src='../../assets/drinks.jpeg'/>
        <article class="card-body">
            <header>
                    <div class="title">
                        <h3>Hang in and have some drinks</h3>
                    </div>
                    <p class="meta">
                        <span class="author">Utilidata</span>
                        <span> | </span>
                        <time class="updated" datetime="" itemprop="datePublished">July 27, 2017</time>
                    </p>
            </header>
        </article>
      
    </li>
<br /><br/>

    </ul>
    <div class="text">
        <p>Make your goa trip</p>
        <p>
          <span class="word belize">wonderful.</span>
          <span class="word pomegranate">refreshing.</span>
          <span class="word green">memorable.</span>
          <span class="word midnight">cheap.</span>
        </p>
      </div>
      <br /><br/>
    <div class="container">
    <div class="center">
        <button type="button" class="btn btn-secondary btn-lg">Book Now</button>
    </div>
  </div>
  <script type="text/javascript" src='../../assets/scripts/animation.js'></script>
</body>