<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #5a5959;">
    <!-- <button class="navbar-toggler  float-xs-left " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon "></span>
      </button> Remove comment to show toggle bar-->
    <a class="navbar-brand mr-auto" [routerLink]="['/home']">KinglandCruises</a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent ">
        <ul class="navbar-nav ml-auto">
            <app-logout isMobile="false"></app-logout>
        </ul>
    </div>
    <ul class="nav navbar-nav pull-left ml-auto d-xl-none d-lg-none" style="max-height: 5vh;">
        <app-logout isMobile="true"></app-logout>
    </ul>
</nav>