@import url(https://fonts.googleapis.com/css?family=Pacifico);

.navbar-custom {
  color: #ffffff;
  background-color: #666666;
  position: fixed;
  z-index: 500;
  top: 0px;
  width: 100%;
}


.navbar navbar-expand-lg navbar-light bg-light navbar-custom {
  background-color: rgb(246, 243, 243);
}
.collapse navbar-collapse {
  background-color: rgb(223, 223, 223);
}
.firstname {
  color: rgb(243, 243, 243);
  font-family: "Pacifico";
}
h4 {
  max-width: 10vh;
  font-family: cursive;
}
.items {
  float: right;

}
.nav-link:hover {
  background-color: skyblue;
}
link{
  color: aqua !important;
}
nav .navbar-nav li a{
  color: aqua !important;
  font-weight: bold;
}
.lastName {
  color: aqua;
}
