@import url(https://fonts.googleapis.com/css?family=Pacifico);

.navbar-custom {
  color: #ffffff;
  background-color: #666666;
  position: fixed;
  z-index: 500;
  top: 0px;
  width: 100%;
}

.firstname {
  color: rgb(243, 243, 243);
  font-family: "Pacifico";
}
h4 {
  max-width: 10vh;
  font-family: cursive;
}
.items {
  float: right;
}

link {
  color: rgb(165, 241, 241) !important;
}
nav .navbar-nav li a {
  color: rgb(166, 218, 218) !important;
  font-weight: bold;
}
.lastName {
  color: aqua;
}
.loginbutton {
  color: aqua;
}
.clickLogin {
  background-color: #666666;
  color: aliceblue;
}
.togglecolor {
  color: black;
}
.txt_forgotpd {
  color: black;
}
.navbar-toggler {
  color: black;
}
.navbar-toggler-icon {
  background-image: url("https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff");
}
@media (max-width: 640px) {
  .loginbutton{
    color: rgb(173, 105, 3);
  }
}