.circle {
    height: 40px;
    width: 40px;
    background-color: #5a5959;
    border-radius: 50%;
    text-align: center;
    margin-top: 3px;
    display: table-cell;
    font-size: 25px;
    position: absolute;
    vertical-align: middle;
}

div {
    padding-left: 2px;
    width: inherit;
    height: 50px;
    background-color: #129ecc;
    border-radius: 7px;
    border: solid;
    border-color: white;
    border-width: 1px;
}

.logout {
    width: 100;
    height: inherit;
    margin-left: 55px;
    text-align: center;
    position: absolute;
    line-height: 45px;
}