<!-- You can now use your library component in app.component.html -->
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
(breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
<div ngxSlickItem *ngFor="let slide of slides">

  <img src="../../assets/beach{{slide}}.jpg" alt="" width="100%" height="50%">
</div>
</ngx-slick-carousel>
<link
  href="http://fonts.googleapis.com/css?family=Oleo+Script"
  rel="stylesheet"
  type="text/css"
/>
<br /><br />
<section>
  <div class="intro">
    <h1>Travel to unviel the true beauty of goa..</h1>
    <p>
      Goa is synonymous to many things that are indicative of a life without
      worries and carefree measures. Be it the parties, the casinos, the flea
      markets or the beach shacks—Goa is to India what Ibiza is to the world.
      Here, we take you on a trail along the best beaches in Goa. These places
      are varied in nature and a visit here will expose you to the best beach in
      Goa for family and best beaches in Goa for couples.
    </p>
  </div>
</section>
<br /><br /><br />
<div class="cont">
  <div class="sub-main">
    <button class="button-three" [routerLink]="['/activities']">
      <span>Explore me</span>
    </button>
  </div>
</div>
