<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no, overflow= hidden" />
<mynavbar></mynavbar>
<app-corousel></app-corousel>
<br /><br />
<div class="blue_body">
    <app-home-body></app-home-body>
    <div *ngFor="let activity of activities">
        <app-activity name="{{activity.name}}" description="{{activity.description}}" image="{{activity.image}}">
        </app-activity>
    </div>
    <br /><br /><br />
    <app-logout></app-logout>
    <div class="container">
        <div class="center">
            <button class="button-three" [routerLink]="['/packages']">
        <span>Book Now</span>
      </button>
        </div>
    </div>
    <app-footer></app-footer>