
<meta
  name="viewport"
  content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no, overflow= hidden"
/>
<ngx-slick-carousel
  class="carousel"
  #slickModal="slick-carousel"
  [config]="slideConfig"
  (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)"
  (afterChange)="afterChange($event)"
  (beforeChange)="beforeChange($event)"
>
  <div ngxSlickItem *ngFor="let slide of slides">
    <img
      src="../../assets/beach{{ slide }}.jpg"
      alt=""
      width="100%"
      height="50%"
    />
  </div>
</ngx-slick-carousel>
<link
  href="http://fonts.googleapis.com/css?family=Oleo+Script"
  rel="stylesheet"
  type="text/css"
/>
<br /><br />
<div class="body-data">
  <div class="para">
    <div class="intro">
      <h1 class="quote">
        Travel to unviel the true beauty of
        <span class="place">Goa</span>
      </h1>
      <br />
      <p class="para-1">
        Goa is synonymous to many things that are indicative of a life without
        worries and carefree measures. Be it the parties, the casinos, the flea
        markets or the beach shacks—Goa is to India what Ibiza is to the world.
        Here, we take you on a trail along the best beaches in Goa. These places
        are varied in nature and a visit here will expose you to the best beach
        in Goa for family and best beaches in Goa for couples.
        Checkout our packages to spend your holidays in the best way possible.
      </p>
    </div>
  </div>
  <br /><br />

<div class = "activities">
  <div *ngFor="let activity of activities">
    <ul>
      <li class="card">
        <img href="#" class="featured-image" src="{{ activity.image }}" />
        <article class="card-body">
          <header>
            <div class="title">
               <h3 class='aname'>{{activity.ActivityName}}</h3>
            </div>
            <p class="meta">
              <span class="author">{{activity.Description}}</span>
            </p>
          </header>
        </article>
      </li>
    </ul>
  </div>
</div>
  <div class="text">
    <p>
      <span class="word belize">wonderful.</span>
      <span class="word pomegranate">refreshing.</span>
      <span class="word green">memorable.</span>
      <span class="word midnight">cheap.</span>
    </p>
  </div>
  <br /><br /><br />
  <div class="container">
    <div class="center">
      <button class="button-three" [routerLink]="['/packages']">
        <span>Book Now</span>
        </button>
  </div>
</div>

<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Kingline<span>cruises</span></h3>

    <p class="footer-links">
      <a href="#" class="link-1">Home</a>

      <a href="#">Blog</a>

      <a href="#">Pricing</a>

      <a href="#">About</a>

      <a href="#">Faq</a>

      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Kinglinecruises© 2020</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>This website is devoloped by </span> KK Projects</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 9959807730, 7702696625</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:kkprojects@gmail.com">support@company.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
     Kingline cruises provides various tourism packages for people who want to enjoy their holidays in goa.
    </p>

    <div class="footer-icons">
      <a href="#" class = 'fb'></a>
      <a href="#" class = 'insta'></a>
      <a href="#" class = 'twitter'></a>
    </div>
  </div>
</footer>

