<div class="signupForm">
  <section id="signup-box">
    <h1>Create your account</h1>
    <p>Join and book your holiday package now!</p>
    <form
      ngForm
      #register="ngForm"
      id="signup-form"
      (ngSubmit)="submitForm(register.value)"
    >
      <label for="name">Name</label><br />
      <input type="text" name="name" ngModel placeholder="Name" /><br />
      <label for="nickname">email</label><br />
      <input type="text" name="email" ngModel placeholder="Email" /><br />
      <label for="email">phone Number</label><br />
      <input
        type="email"
        name="phone"
        ngModel
        placeholder="Phone number"
      /><br />
      <label for="password">Password</label><br />
      <input
        type="password"
        name="password"
        ngModel
        placeholder="Password"
      /><br />
      <button type="submit">SignUp</button>
    </form>
  </section>
</div>
